

.background{
    background-color: #932222;
    color: white;
}

.linden-hill-regular {
  font-family: "Linden Hill", serif;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 1.5px;
}

h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
    text-shadow: 5px 7px 5.8px rgba(0, 0, 0, 0.50);
}

.subheader{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    text-shadow: 3px 4px 4.8px rgba(0, 0, 0, 0.50);
}

@keyframes pulse {
  0% {
    transform: scale(1.0); 
    filter: drop-shadow(5px 5px 16px rgba(0, 0, 0, 0.4));
  }
  50% {
    transform: scale(1.1); 
    filter: drop-shadow(5px 10px 16px rgba(0, 0, 0, 0.6));
  }
  100% {
    transform: scale(1.0);
    filter: drop-shadow(5px 5px 16px rgba(0, 0, 0, 0.4));
  }
}

.wholecookie{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 350px;
    animation: pulse 2.5s infinite;
    transition: transform 250ms ease, filter 250ms ease;
}

.wholecookie:hover {
    animation-play-state: paused;
}

#leftcookie, #rightcookie {
    display: none;
}

#leftcookie {
    width: 250px;
    transform: rotate(20deg);
}
#rightcookie {
    width: 250px;
    transform: rotate(-20deg);
}

#resetButton {
    display: none;
    margin: 20px auto;
    margin-bottom: 40px;
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Linden Hill", serif;
    background-color: #4f1313;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 200ms ease, color 200ms ease;
}

#resetButton:hover {
    background-color: #641b1b;
    color: #e0e0e0;
    transition: ease-in 200ms;
}

.cookie-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* vertically center the text */
    justify-content: center; /* center the content horizontally */
    margin-top: 20px; 
}

#fortuneText {
    display: none;
    max-width: 700px; /* Adjust this value based on the space between cookies */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 110px;
    text-align: center; /* center the text */
    font-size: 30px; /* adjust font size as needed */
    color: black; /* ensure text is visible */
    background-color: #f9f9f9;
    overflow-wrap: break-word; /* allows long words to break */
    word-wrap: break-word; /* for older browsers */
}
